$primaryFont: 'Roboto';
$headerFont: 'Roboto';

$primaryFontColor : #111;

$secondaryColor : #D04907;
$secondaryColorHover : #c95912;
$primaryColor : #2F7DDE;
$primaryLightColor : #A8C2E3;
$primaryDarkColor : #0841ca;

$darkGrey : #4D4D4D;
$lightGrey : #8C8C8C;